.game-list{
    display: flex;
    gap: 5px;
    list-style: none;
    justify-content: center;
    align-items: center;

    .item{
        background-color: #424242;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;

        img{
            width: 30px;
            height: 30px;
        }

        &.selected {
            background-color: #242424;
          }
    }
}