.content{
    background-color: #696969;
    width: 100vw;
    margin: 10px 10px 10px 0px;
    padding : 10px;
    border-radius: 5px;

    .content-header{
        display: flex;
        gap: 10px;
    }
}